# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
+ Languages of data science
+ Libraries of data science
+ Data science tools
+ Arithmetic examples

### Some of the popular languages that data scientists use are:

1. Python
2. SQL
3. C++
4. R
5. Java

### Some commonly used libraries by Data Scientists include:

    1. Scipy
    2. Pandas
    3. Numpy
    4. Matplotlib
    5. TensorFlow

#### Examples of Data Science Tools Table
| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| GitHub |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

## Author 
Joe Caruano